:host{
  display: flex;
  align-items: center;
  flex-flow: wrap;
}

.pra-onde-field {
  margin-right: 10px;
  margin-bottom: 0px;
  flex-grow: 1;
}

button.search-btn{
  width: 200px;
  height: 56px;
}

button.clear-btn{
  width: 40px;
  height: 40px;
  padding: 0px;
}

button.clear-btn .mat-icon{
  font-size: 20px;
  position: relative;
  top: 4px;
  color: #b7b7b7;
}

section#pra-onde-section{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

section#destinos-section{
  width: 100%;
  padding: 20px;
}

#suggestions-container {
  width: 100%;
  padding: 25px 25px 3px 25px;
  margin-bottom: 20px;
}

.background-container{
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 64.0184px 76.8221px 80px rgba(0, 0, 0, 0.07), 41.4934px 49.7921px 46.8519px rgba(0, 0, 0, 0.0531481), 24.659px 29.5907px 25.4815px rgba(0, 0, 0, 0.0425185), 12.8037px 15.3644px 13px rgba(0, 0, 0, 0.035), 5.21632px 6.25958px 6.51852px rgba(0, 0, 0, 0.0274815), 1.18553px 1.42263px 3.14815px rgba(0, 0, 0, 0.0168519);
  border-radius: 12px;
} 