<!-- <main> -->
  <div id="suggestions-container" class="background-container">
    <section id="country-section">
      @for (c of countries; track c) {
        <button mat-raised-button            
              [color]="country === c.name ? 'primary' : undefined"
              (click)="country = c.name"
              [class.selected]="country === c.name"
              style="margin: 0 8px 8px 0;">
        <!-- <span class="fi fi-us">{{c.icon}}</span> -->
        <mat-icon fontSet="fi" fontIcon="{{c.icon}}"></mat-icon>
        {{c.name}}
      </button>
      }
    </section>
    <section id="pra-onde-section">
      <mat-form-field class="pra-onde-field">
        <mat-label>Pra onde iremos dessa vez?</mat-label>
        <mat-chip-grid #chipGrid aria-label="Enter fruits">
          @for (characteristic of characteristics; track characteristic) {
            <mat-chip-row
              (removed)="remove(characteristic)"
              [editable]="true"
              (edited)="edit(characteristic, $event)"
              [aria-description]="'press enter to edit ' + characteristic">
              {{characteristic}}
              <button matChipRemove [attr.aria-label]="'remove ' + characteristic">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          }
          <input placeholder="Palavra-chave"
                 [matChipInputFor]="chipGrid"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)"/>
          <!-- <button class="clear-btn" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
            <mat-icon>close</mat-icon>
          </button> -->
        </mat-chip-grid>
      </mat-form-field>
      <button class="search-btn" mat-raised-button color="primary" (click)="search()">
        <mat-icon>flight_takeoff</mat-icon>
        Buscar
      </button>
    </section>
  </div>

  <section id="destinos-section" class="background-container" *ngIf="suggestions && suggestions.length > 0">
    <app-destinos [destinos]="suggestions"></app-destinos>
  </section>
<!-- </main> --> 